include /_mixins

doctype html
html
  head
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN' crossorigin='anonymous')
    +stylesheet_link_tag('main')
    +javascript_include_tag('vendor/all.min')
    +javascript_include_tag('handlebars_templates')
  body
    header  
      a.logo(href='/')
        img(src='images/logo.png' alt='logo')
      .cart
        a(href='/')
          span.left= 'Shopping Cart'
          span.right
            span.count 1
            = ' items'
    main
      #cart
        ul
          li(data-id='1')
            figure
              img(src='images/sashimi-salad.jpg' alt='cart-item')
            p= '2 x $12.00'
        section
          h3= 'Your'
          h3= 'shopping cart'
          p.total= '$24.00'
          p
          footer
            a.left.empty_cart(href='#')= 'Empty cart'
            a.right.checkout(href='/checkout')= 'Checkout'
      #content
        block content

    footer
    +javascript_include_tag('application')
    +javascript_include_tag('models/item')
    +javascript_include_tag('collections/menu')
    +javascript_include_tag('views/item', 'views/index', 'views/itemDetails')
    script(type='text/javascript').
      App.menu = new Menu(!{JSON.stringify(menu)});
      App.init();
    block scripts