<div>
  <div class='nav prev'>
    <img src='images/nav-prev.png' alt='prev' />
  </div>
  <figure>
    <img src={{image}} alt='selected-item'>
  </figure>
  <article>
    <a class='close' href='/'>+</a>
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <footer>
      <h2>${{price}}</h2>
      <a class='add_cart' href='#'>Add to cart</a>
    </footer>
  </article>
  <aside>
    <h3>Nutritional Information</h3>
    <table>
      <tbody>
        <tr>
          <td>Protein</td>
          <td>{{nutrition.protein}}</td>
        </tr>
        <tr>
          <td>Fat (total)</td>
          <td>{{nutrition.fat}}</td>
        </tr>
        <tr>
          <td>Carbohydrate</td>
          <td>{{nutrition.carbs}}</td>
        </tr>
        <tr>
          <td>Energy (kj)</td>
          <td>{{nutrition.energyKj}}</td>
        </tr>
        <tr>
          <td>Energy (kcal)</td>
          <td>{{nutrition.energyKcal}}</td>
        </tr>
        <tr>
          <td>Sugar</td>
          <td>{{nutrition.sugar}}</td>
        </tr>
      </tbody>
    </table>
  </aside>
  <div class='nav next'>
    <img src='images/nav-next.png' alt='next' />
  </div>
</div>